.App {
  text-align: center;
}
body {
  font-family: 'Roboto';font-size: 22px;
}
.App-logo {
  height: 100px;
  /* height: 40vmin;
  pointer-events: none; */
}

 .NotificatiOn {
  display: block;
  position: fixed;
  right: 0;
  background-color: black;
  padding: 20px;
  border-radius: 35px 0px 0px 35px;
}
 a.btn-circl {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

h1.title {
  font-size: 2.2rem;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 0px;
}
p{
    color: black;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.btn-circle{
  /* width: 50px;
  height: 50px; */
  padding: 10px 25px;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  border: 0;
  color: white;
  background-color: black;
  font-size: 19px;
  text-decoration: none;
}
.btn{
  /* width: 50px;
  height: 50px; */
  padding: 10px 25px;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  border: 0;
  color: white;
  background-color: black;
  font-size: 15px;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.content-text {
  display: block;
  text-align: center;
  /* margin-left: 21px; */
}

.PostUser {
  background-image: url(../src/img/ImgPost.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14px;
  max-width: 39%;
  width: 100%;
  margin: 5px;
}
.Post h4 {
  margin: 10px auto -10px;
}
.Post footer {
  margin: 100px auto 0px;
}
.Post footer .interation {
  display: flex;
  justify-content: space-around;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(./img/bg.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
